@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  pad: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

ul, li {
  margin: 0;
  pad: 0;
  list-style: none;
}

body, html {
  height: 100%;
  font-size: rem(16px);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.second-block {
  height: 100vh;
  min-height: 650px;
  background: url("../images/second_bg.png") no-repeat;
  background-size: cover;
  margin: 0;
}

.second-block_wrap {
  width: 960px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.we {
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 135px;
  text-align: center;
  font-family: 'Gagalin';
  font-size: 72px;
  color: #2f3234;
  margin-bottom: 50px;
}

.logo_future {
  height: 100px;
  vertical-align: middle;
}

.wrap_future {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
}

.column {
  width: 300px;
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
}

.future_text-item {
  text-align: center;
  vertical-align: top;
  font-family: 'Ubuntu';
  font-size: 14pt;
  color: #817f7f;
}

.slogan_item {
  margin: 10px auto;
  vertical-align: center;
  font-family: 'lifehack';
  font-size: 24pt;
  height: 70px;
  color: #2f3234;
  font-weight: 10;
}

.first-block {
  height: 100vh;
  min-height: 650px;
  background: url("../images/bg_first.png") no-repeat;
  background-size: cover;
}

.second-block {
  height: 100vh;
  min-height: 650px;
  background: url("../images/second_bg.png") no-repeat;
  background-size: cover;
}

.first-block_lay {
  width: 960px;
  margin: auto;
  padding-top: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  padding: 0 10px 0 10px;
}

header li {
  display: inline-block;
  margin-left: 18px;
}

.menu {
  margin-left: auto;
  margin-right: 15px;
}

.menu a {
  text-decoration: none;
  font-family: Ubuntu;
  font-weight: 400;
  color: white;
}

.menu li:before {
  content: "\2022";
  margin-right: 15px;
  color: white;
}

.menu li:nth-child(1)::before {
  content: "";
  color: white;
}

.btn a {
  display: block;
  height: 35px;
  width: 100px;
  background: #f9b43b;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  text-decoration: none;
  font-family: Ubuntu;
  color: white;
}

.burger_wrap {
  height: 360px;
  margin-top: 60px;
  width: 880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  background: url("../images/burger.png") no-repeat;
  background-size: cover;
  height: 100%;
  min-width: 457px;
  width: 457px;
}

.burger_promo {
  height: 100%;
  margin-left: 10px;
}

.burger_slogan {
  font-family: Gagalin;
  font-size: 72px;
  margin-top: 80px;
  color: #f9b43b;
}

.burger_slogan-natural {
  font-family: Lifehack;
  font-size: 60px;
  color: white;
}

.arrow-scroll {
  position: absolute;
  bottom: 50px;
  right: 50%;
}

.arrow-scroll a {
  display: block;
  height: 15px;
  width: 15px;
}

.third-block {
  height: 100vh;
  min-height: 650px;
  background: #4f4f4f;
  background-size: cover;
  margin: 0;
}

.wrap_reviews {
  height: 100%;
  width: 100%;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.reviews_photo {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  width: 100%;
  position: relative;
  height: 50%;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%) brightness(100%);
  filter: grayscale(100%) brightness(100%);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.cont_wrap_reviews {
  padding: 20px 50px;
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.text_reviews {
  margin-bottom: 60px;
  height: 40%;
  font-family: "Ubuntu-Lights";
  color: white;
  overflow: hidden;
}

.cont_wrap_reviews:hover {
  opacity: 1;
  color: white;
}

.reviews_photo:hover {
  -webkit-filter: grayscale(100%) brightness(50%);
  filter: grayscale(100%) brightness(50%);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.cont_wrap_reviews h5 {
  font-family: "Gagalin";
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.text_reviews {
  font-family: "Ubuntu";
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.btn_reviews a {
  margin-top: 20px;
  text-decoration: none;
  display: block;
  height: 35px;
  width: 110px;
  background: #2f3234;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: "Ubuntu";
  font-size: 13px;
  color: white;
  font-weight: 500;
}

.team-section {
  height: 100vh;
  min-height: 650px;
  background: url("../images/team-bg.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}

.team-wrap {
  height: 100%;
  min-height: 650px;
  width: 100%;
  position: relative;
}

.team_right-column {
  width: 50%;
  height: 100%;
  background: rgba(52, 55, 57, 0.9);
  position: absolute;
  top: 0;
  right: 0;
}

.team_wrap-content {
  width: 380px;
  /* border: 1px solid yellow; */
  margin: 150px auto;
  margin-bottom: 0px;
}

.team_text {
  font-family: "Gagalin";
  font-size: 72px;
  text-align: center;
  color: #f9b43b;
  margin-bottom: 50px;
}

.team_elem {
  /* height: 14px; */
  margin-top: 30px;
  font-family: "Gagalin";
  font-size: 14px;
  color: #f5f5f5;
}

.rect {
  background: url("../images/tri.png") no-repeat;
  margin-top: 5px;
  float: left;
  width: 10px;
  height: 6px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* border: 1px solid yellow; */
}

.name_text a {
  margin-left: 10px;
  font-family: "Gagalin";
  font-size: 14px;
  color: #f5f5f5;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  /* border: 1px solid yellow; */
}

.info_name {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  overflow: hidden;
  /* border: 1px solid yellow; */
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.info_emp {
  margin-left: 20px;
}

.position {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.full_info {
  width: 200px;
  font-family: "Ubuntu";
  font-size: 14px;
  color: white;
  margin-top: 10px;
}

.active > .name_text a {
  color: #f9b43b;
}

.active > .rect {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: orange;
}

.active > .info_name {
  height: auto;
}

.menu_section {
  height: 100vh;
  width: 100vw;
  min-height: 650px;
  background: url(../images/menu_bg.png) no-repeat;
  background-size: cover;
}

.wrap_menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu-text {
  width: 30%;
  font-family: Gagalin;
  font-size: 72px;
  color: white;
  margin-top: 150px;
  text-align: center;
  /* border: 1px solid yellow; */
}

.accordeon_menu {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid yellow;
}

.accordeon_menu li {
  height: 100%;
  float: left;
  border: 1px solid yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
}

.accordeon_menu ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.hide_text {
  width: 0;
  overflow: hidden;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

.menu_elem {
  max-width: 50%;
}

.menu_elem a {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  width: 80px;
  font-size: 72px;
  font-family: Gagalin;
  background-size: cover;
  text-shadow: 1px 1px 2px black;
}

.menu_elem span {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
  height: 100%;
  width: 100%;
  text-align: left;
}

.active .hide_text {
  width: 100%;
  overflow: auto;
  padding: 20px;
  background: rgba(52, 55, 57, 0.7);
}

.contacts {
  height: 100vh;
  width: 100vw;
  min-height: 650px;
}

.contacts_wrap {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../images/maps.png") no-repeat;
  background-size: cover;
}

.footer {
  height: 57px;
  width: 100%;
  background: url(../images/footer_bg.png) repeat-x;
  position: absolute;
  bottom: 0;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  font-size: 14px;
  padding-left: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.social {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.street {
  height: 40%;
}

.street > a {
  color: white;
  line-height: 30px;
  font-family: Ubuntu;
  text-decoration: none;
}

.phone > a {
  font-family: Ubuntu;
  font-weight: bold;
  color: #e45028;
  font-size: 14px;
  text-decoration: none;
  margin-left: 5px;
}

.phone {
  margin-top: 5px;
}

.phone > img {
  line-height: 5px;
}

.social {
  text-align: right;
  margin-right: 80px;
  margin-top: 15px;
}

.icon_list > li {
  display: inline-block;
  height: 20px;
  margin-left: 20px;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.icon_list > li:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.social_icon {
  height: 20px;
}

.icon {
  fill: white;
}

.navigation {
  position: fixed;
  top: 72px;
  right: 72px;
  width: 50px;
  z-index: 1000;
}

.navigation__link {
  position: relative;
  display: block;
  width: 100%;
  height: 21px;
}

.navigation__link:after, .navigation__link:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.navigation__link:after {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

.navigation__link:before {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navigation__link_active:before, .navigation__link:hover:before {
  width: 16px;
  height: 16px;
}

.order-section {
  height: 100vh;
  width: 100vw;
  background: url(../images/bg/order_bg.png);
  background-size: cover;
}

.order-section__wrap {
  height: 100%;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.order-section__title {
  font-family: 'Gagalin';
  font-size: 72px;
  color: #f9b43b;
}

.order-section__form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu';
  font-weight: 300;
}

.order-section .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.order-section .form {
  width: 50%;
  padding: 5px;
}

.order-section .form__input {
  border-radius: 5px;
  border: none;
  margin-left: auto;
  width: 100%;
  height: 35px;
  margin: 5px;
}

.order-section .input-text {
  margin-bottom: 5px;
  color: white;
}

.order-section .from__block {
  width: 100%;
}

.order-section .com {
  height: 110px;
}

.order-section .radio-text {
  color: white;
  line-height: -20px;
}

.order-section .radio-row {
  margin-top: 20px;
}

.order-section .order-radio {
  position: absolute;
  visibility: hidden;
  margin-right: 20px;
}

.order-section .radio_btn {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}

.order-section .radio {
  margin-right: 20px;
}

.order-section .radio_btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 50%;
  content: "";
  height: 50%;
  width: 50%;
  background: red;
  opacity: 0;
}

.order-section .order-radio:checked + .radio_btn:after {
  opacity: 1;
}

.order-section .checkbox__input {
  position: absolute;
  visibility: hidden;
}

.order-section .checkbox_btn {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  background: #fff;
  margin-right: 10px;
}

.order-section .checkbox_btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  height: 90%;
  width: 90%;
  background-image: url(../images/check.png);
  background-size: cover;
  opacity: 0;
  fill: #e45028;
}

.order-section .checkbox__input:checked + .checkbox_btn:after {
  opacity: 1;
}

.order-section .reset__input {
  display: inline-block;
  position: absolute;
  visibility: hidden;
}

.order-section .btn {
  display: inline-block;
}

.hamburger {
  height: 100vh;
  width: 100vw;
  background: #f9b33b;
  background: -moz-linear-gradient(top, #f9b33b 0%, #eb8f38 50%, #f9b33b 100%);
  background: -webkit-linear-gradient(top, #f9b33b 0%, #eb8f38 50%, #f9b33b 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b33b), color-stop(50%, #eb8f38), to(#f9b33b));
  background: -o-linear-gradient(top, #f9b33b 0%, #eb8f38 50%, #f9b33b 100%);
  background: linear-gradient(to bottom, #f9b33b 0%, #eb8f38 50%, #f9b33b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b33b', endColorstr='#f9b33b',GradientType=0 );
}

.hamburger__wrap {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hamburger__content-wrap {
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid black;
}

ul, li {
  list-style: none;
}
