.second-block {
    height: 100vh;
    min-height: 650px;
    background: url("../images/second_bg.png") no-repeat;
    background-size: cover;
    margin: 0; }
  
  .second-block_wrap {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  
  .we {
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 135px;
    text-align: center;
    font-family: 'Gagalin';
    font-size: 72px;
    color: #2f3234;
    margin-bottom: 50px; }
  
  .logo_future {
    height: 100px;
    vertical-align: middle; }
  
  .wrap_future {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 960px; }
  
  .column {
    width: 300px;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px; }
  
  .future_text-item {
    text-align: center;
    vertical-align: top;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 17px;
    color: #817f7f; }
  
  .slogan_item {
    margin: 10px auto;
    vertical-align: center;
    font-family: 'lifehack';
    font-size: 24px;
    height: 70px;
    color: #2f3234;
    font-weight: 10; }
    


    @media (max-width: $tablets) {
      .future_text-item {
        font-size: 14px;
      }
      
    }
    @media (max-width: $phones) {
      .wrap_future {
        flex-direction: column;
        align-items: center;
      }
      .logo_future {
        float: left;
      }
      .future_text-item {
        float: right;
        max-width: 200px;
      }
    }