.navigation {
  position: fixed;
  top: 72px;
  right: 72px;
  width: 50px;
  z-index: 1000; }

.navigation__link {
  position: relative;
  display: block;
  width: 100%;
  height: 21px; }

.navigation__link:after, .navigation__link:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%; }

.navigation__link:after {
  width: 6px;
  height: 6px;
  background-color: #fff; }

.navigation__link:before {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.navigation__link_active:before, .navigation__link:hover:before {
  width: 16px;
  height: 16px; }
